<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hobrogrammer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <link rel="icon" type="image/png" href="static/img/favicon.png" />
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="span4 offset1">
                <img src="{{ url_for('static', filename='img/logo.png') }}" title="Hobrogrammer Logo" />
                <h1>Hobrogrammer</h1>
                <form action="/api/get" method="GET" class="form-search">
                    <div class="input-append">
                        <input type="text" class="search-query" name="location" placeholder="London, UK" />
                        <button class="btn" type="submit">Find</button>
                    </div>
                </form>
                <button class="btn btn-primary" id="geo" type="submit">Near Me</button>
                <p>Hobrogrammer allows you to find events in your local area that offer free food and drink. We aim to chain events together to give you a complete weekend plan.</p>
            </div>
            <div class="span9">
                <h2>Results</h2>
                <ul id="events" class="no-bullets">
                </ul>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/underscore.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/backbone.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script  type="text/template" id="template_event">
<div>
    <div class="pull-right">
        <button class="btn book">Book</button>
        <button class="btn food">Incorrect?</button>
    </div>
    <h3><%=event.title%></h3>
    <p><%=event.start_date%> - <%=event.venue.address.city%>, <%=event.venue.address.country%></p>
    <% if ( event.food ) { %>
        <p class="alert alert-success">Has Free Food!</p>
    <% } else { %>
        <p class="alert alert-error">No Free Food!</p>
    <% } %>
    
</div>
        </script>
    </body>
</html>
