<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hobrogrammer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <link rel="icon" type="image/png" href="static/img/favicon.png" />
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <a href="https://github.com/yamatt/hobrogramming"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
        <div class="row">
            <div class="span4 offset1">
                <img src="{{ url_for('static', filename='img/logo.png') }}" title="Hobrogrammer Logo" />
                <h1>Hobrogrammer</h1>
                <form action="/api/get" method="GET" class="form-search">
                    <div class="input-append">
                        <input type="text" class="search-query" name="location" placeholder="London, UK" />
                        <button class="btn" type="submit">Find</button>
                    </div>
                </form>
                <button class="btn btn-primary" id="geo" type="submit">Near Me</button>
                <p>Hobrogrammer allows you to find events in your local area that offer free food and drink. We aim to chain events together to give you a complete weekend plan.</p>
                <h2>Creators:</h2>
                <ul>
                    <li><a href="http://twitter.com/mattcopp">Matt Copperwaite</a></li>
                    <li><a href="http://twitter.com/moggers87">Moggers</a></li>
                </ul>
                <p>With special thanks to everyone at <a href="http://hacked.io">Hacked.IO</a></p>
            </div>
            <div class="span7">
                <h2>Results</h2>
                <ul id="events" class="no-bullets">
                </ul>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/underscore.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/backbone.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script  type="text/template" id="template_event">
<div>
    <% if ( event.food ) { %>
        <button class="btn book pull-right">Book</button>
        <h3><%=event.title%></h3>
        <p><%=event.start_date%> - <%=event.venue.address.city%>, <%=event.venue.address.country%></p>
        <p class="alert alert-success">Has Free Food! <button class="btn btn-small food pull-right">Incorrect?</button></p>
    <% } else { %>
        <h3 class="small"><%=event.title%></h3>
        <p class="alert alert-error">No Free Food! <button class="btn btn-small food pull-right">Incorrect?</button></p>
    <% } %>
    
</div>
        </script>
        <script type="text/template" id="template_popup">
<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" title="close" aria-hidden="true">&times;</button>
    <h3><%=title%></h3>
  </div>
  <div class="modal-body">
    <p><%=content%></p>
  </div>
  <div class="modal-footer">
    <button href="#" class="btn btn-warning ok"><%=button_label%></button>
    <button href="#" class="btn cancel">Cancel</button>
  </div>
</div>
        </script>
    </body>
</html>
